# To ignore terraform state files

*.tfstate
*.tfstate.backup

# To ignore terraform default provider-modules

*.terraform


# To ignore terraform.tfvars file to have global variables
*.tfvars

# To ignore terraform crash logs
*.log

# To ignore any terraform graph files & plan files

*.svg
*.png

*.tfplan